* {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

[class^=col-] {
  margin: 0 1%;
}

[class^=col-]:first-child {
  margin-left: 0;
}

[class^=col-]:last-child {
  margin-right: 0;
}

.col-1 {
  display: flex;
  flex: 1;
}

.col-2 {
  display: flex;
  flex: 2;
}


.col-3{
  display: flex;
  flex: 3;
}
