* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: darkgray;
}

div#container {
    margin-bottom: 10vh;
}

td {
    height: 2.5vmin;
    width: 2.5vmin;
    background-color: green;
}

div#score {
    position: absolute;
    font-size: 3vmax;
    top: 3vmax;
    left: 50%;
    transform: translateX(-50%);
}

.snake {
    background-color: black;
}

.food {
    background-color: lightgreen;
}

/* .eaten:after {
    position: fixed;
    content: "\00a0";
    font-size: 14px;
    transform: translate(-2px, -7px);
    background-color: black;
} */

#keys tr td {
        background-color: white;
        height: 20vmin;
        width: 20vmin;
        font-size: 10vmin;
        text-align: center;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
}


div#reset {
    position: absolute;
    font-size: 3vmax;
    bottom: 3vmax;
    left: 50%;
    transform: translateX(-50%);
}


#back {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

@media screen and (orientation: landscape) { 
    body {
        display: flex;
        flex-direction: row;
    }

    div#container {
        margin-bottom: 0vh;
        margin-right: 2vw;
    }

 }  