@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import'variables.scss';
@import'mixins.scss';

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.profile,
.title {
  padding: 1rem;
}

.container {
  margin: 1% auto;
  width: 70%;
  background-color: $bg-light; 
  @include top-border-radius(2 * $box-border);
  @include bottom-border-radius(2 * $box-border);
}

.header {
  padding: 1rem;
  font-size: 2rem;
  background-color: $bg-primary;
  color: $font-light;
  @include top-border-radius(2 * $box-border);

  h1, h2 {
    margin: 0.5rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h3 {
    margin: 0 0.5rem; 
    font-size: 1rem;
    font-weight: 100;
  }
}

.title {
  font-weight: 700;
  padding: 1rem 1rem 0 1rem;
}

.profile {
  display: flex;
  align-items: flex-end;
}

.link, a {
  color: $font-default;
  border-bottom: 1px dotted $font-default;
  &:hover {
    color: $font-light;
    border-bottom-color: $font-light;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}
