@import 'variables.scss';
@import 'mixins.scss';

/* Listing */
.description,
.listing {
  padding: 1rem;
}

.listing {
  & > h2 {
    padding: 0.5rem;
    color: $font-light;
    background-color: $bg-primary;
    line-height: 1.5rem;
    border-radius: $box-border;
  }
  li {
    list-style: circle;
    margin-bottom: 0.2rem;
  }
}

.profile {
  img {
    width: 15em;
  }
}

.filled {
  .header {
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: $font-light;
    background-color: $bg-primary;
    padding: 0.5rem;
    @include top-border-radius($box-border);
  }

  .footer {
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: $font-light;
    background-color: $bg-dark;
    padding: 0.5rem;
  }

  .content {
    border-width: 0 2px 2px 2px;
    border-color:  $bg-primary;
    border-style: solid;
    @include bottom-border-radius($box-border);

    &.emphasis {
      border-color: $bg-alternative; 
    }

    ol {
      padding: 0.5rem;
      -webkit-padding-start: 40px;
    }

    p {
      padding: 0.5rem;
    }
  }
}


.header.emphasis {
  background-color: #68564c; 

}
