
.desktop {
  display: initial;
}


@media only screen and (max-width: 1248px) {
  .container {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  
  .header {
    border-radius: 0;
  }

  .row {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
}

