
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

[class^=col-] {
  display: flex;
  flex-direction: column;
}

[class^=col-]:first-child {
  margin-left: 0;
}

[class^=col-]:last-child {
  margin-right: 0;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3{
  flex: 3;
}
